.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #f8f3ec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.color-nav {
  background-color: skyblue;
}

.black-bg {
  background-color:  rgb(0, 0, 0);
}

.home-image {
  max-width: 100%;
}

.font {
  font-family: 'Orbitron', sans-serif;
}

.font-products {
  font-family: 'Rokkitt', serif;
}

.black-font{
  color: black;
}

.corona-color{
  color:  rgb(245, 169, 31);
}

.white-color{
  color: whitesmoke;
}

.bottom-margin{
  margin-bottom: 100px;
}

.form-margin{
  margin-top:  80px;
}

.margin{
  margin-left:  50px;
  margin-right: 50px;
}

.button-margin{
  margin-top:  20px;
}

.whitesmoke-color{
  background-color: whitesmoke;
}

.bg-pink {
  background-color: pink;
}
